
body{
  background-color:  #CCCCCC;
  margin:0;
  padding: 0;
  height: 100%;
}

html{
  scroll-behavior: smooth;
}
#container{
  min-height: 100%;
  position: relative;
}

.col-auto{
  margin-left: 20px;
}

button{
  margin-left: 5px;
  margin-right: 5px;
}

.forms-container{
  width: 20%;
  margin: auto;
  margin-top: 25px;
}

.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 0;
}

.img {
  width: 100px;
  height: auto;
}
.pages{
  width: 100%;
  height: 50px;
  font-size: 30px;
  background-color: white;
  color: black;
}

a{
  margin-left: 20px;
}

.footers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-weight: bold;
  background-color: white;
}

.scroll{
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: none;
}

.container {
  margin-top: 50px;
}

.list-group-item {
  cursor: pointer;
}

.correct {
  background-color: #289a27;
}

.incorrect {
  background-color: #c41a21;
}
